@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color:rgb(34, 33, 33) ;
    text-decoration: none;
    list-style: none;
}

.nav{
    background-color: rgb(41, 39, 39)  ;
    color: rgb(122, 204, 207);
    font-size: 30px;
    padding: 20px 20px;
    text-decoration: none;
    border-bottom: 1px solid rgb(65, 64, 64); 
    position: sticky;
    top: 0;
}

.nav a i{
    font-size: 25px;
    padding: 0px 5px;
}

   .nav a{
      padding: 20px 25px;
      padding-left: 0px;
      color: rgb(122, 204, 207);
   }

    .chose-title{
    text-decoration: none;
    background-color: rgb(41, 39, 39) ;
    color: rgb(122, 204, 207);
    width: 200px;
    height: 77vh;
    border-right: 2px solid rgb(65, 64, 64) ;
    border-left: 2px solid rgb(65, 64, 64);
    display: flex;
    position: sticky;
    top: 145px;
 }



 .chose-title li{
    list-style: none;
    border-bottom: 1px solid rgb(65, 64, 64); 
    text-align: center;
    text-decoration: none;
    
 }

 .chose-title li a {
   display: block;
    padding: 8px 8px;
    text-decoration: none;
    color: rgb(122, 204, 207) ;
 }

 .chose-title ul{
    margin: 0px;
    padding: 0px;
   
 }

  a:hover{
    background-color: rgb(63, 61, 61);
 }
 

 .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333 ;
  color: #eee;
  border-bottom: 1px solid rgb(65, 64, 64) ;
  position: sticky;
  top: 87px;
 
 }

 .navbar ul{
    display: flex;
   
 }

 .navbar ul li{
   list-style: none;
 }

 .navbar ul li a{
   padding: 17px 13px;
   text-decoration: none;
   color: #eee;
 }

 .navbar ul li a:hover{
   background-color: #111;
 }

 .introduction{
   object-fit: cover;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   background-color: #535353;
   height: 500px;
   color: #eee;
   padding: 10px;

 }

   .exerise{
      /* margin-left: px; */
      margin-top: 100px; 
      font-size: 16px;
   }

 .container{
    display: flex;
    
 }

 .exerise h1  {
   color:rgb(122, 204, 207) ;

 }

   .btn{
      margin-top: 30px;
      border-bottom:  2px solid rgb(65, 64, 64);
      padding-bottom:20px ;
   }

   .btn a {
      color: white;
      background-color: rgb(122, 204, 207) ;
      border-radius: 30px;
      padding: 5px;
      text-decoration: none;
   }

   /* .title-two{
      margin-bottom: 130px;
   }
   
      
   .two{
      margin-top: 130px;
   } */

    .introduction-two{
      object-fit: cover;
      /* display: flex;
      justify-content: center;
      align-items: center; */
      background-color: #535353;
      height: 2000px;
      color: #eee;
      padding-left: 10px;
       padding: 25px; 
       font-size: 15px;
    }

    .introduction-three{
      object-fit: cover;
      /* display: flex;
      justify-content: center;
      align-items: center; */
      background-color: #535353;
      height: 650px;
      color: #eee;
       padding: 10px; 
       font-size: 16px;
    }
 


    .introduction-four{
      object-fit: cover;
      /* display: flex;
      justify-content: center;
      align-items: center; */
      background-color: #535353;
      height: 500px;
      color: #eee;
       padding: 10px; 
       font-size: 16px;
    }

    .exerise .pre {
      color:rgb(122, 204, 207);
    }

    @media(max-width:856px){
      .introduction-two{
        height: 670px;
      }
}

@media (max-width:768px) {
 
}

@media (max-width:425px){
    .navbar{
     font-size: 8px;
    }

    .navbar ul li a{
     padding: 10px 10px;
   }

     .exerise.introduction{
     height: 600px;
     font-size: 8px;
   }

    .exerise .introduction-two{
     height: 2500px;
     font-size: 8px;
   }
    .exerise  .introduction-three{
     height: 300px;
     font-size: 8px;
   }

    .exerise .introduction-four{
     height: 300px;
     font-size: 8px;
   }

   .chose-title{
     position: sticky;
     top: 116px;
     height: 90vh; 
   }
   .exerise h1 {
    font-size: 20px;

  }
}

@media(max-width:375px){
  .exerise h1 {
    font-size: 20px;
  
  }

   .exerise .introduction{
    font-size: 10px;
    height: 350px;
    
  }

   .exerise .introduction-two{
    height: 1900px;
    font-size: 10px;
   
  }

   .exerise .introduction-three{
    font-size: 10px;
    height: 300px;
  }

  .introduction-four{
    height: 900px;
    font-size: 10px;
   
  }
}

@media (max-width:320px) {

  

  .introduction{
    height: 700px;
  }

  /* .introduction-two{
    height: 2800px;
  } */
  .introduction-three{
    height: 1300px;
  }

  .introduction-four{
    height: 500px;
  }
  
  .navbar a{
    font-size: 6px;
  }

  .chose-title{
   position: sticky;
   top: 106px;
    height: 79vh;

  }
}

@media (max-width:1024px) {
  .chose-title{
    height: 73vh; 
  }

  .exerise .introduction-three{
    height: 700px;
  }

  .exerise .introduction-four{
    height: 720px;
  }
}

@media (max-width:360px){
  .introduction{
    height: 400px;
  }

  .introduction-two{
    height: 2400px;
  }
  .introduction-three{
    height: 350px;
  }

  .introduction-four{
    height: 470px;
  }
  
  .navbar{
    font-size: 5px;
  }

  .chose-title{
   position: sticky;
   top: 106px;
    height: 79vh;
  }
}

@media (max-width:855px){

     
    .exerise .introduction{
      font-size: 13px;
    }

   .exerise h1{
    font-size: 15px;
   }

   .exerise .introduction-two{
    font-size: 13px;
    height: 2000px;
   }

   .exerise .introduction-three{
    font-size: 13px;
    
   }

   .exerise .introduction-four{
    font-size: 13px;
    height: 600px;
   }
}

 @media(max-width:760px){
  .exerise .introduction{
    font-size: 11px;
  }

 .exerise h1{
  font-size: 13px;
 }

 .exerise .introduction-two{
  font-size: 11px;
  height: 1200px;
 }

 .exerise .introduction-three{
  font-size: 11px;
 }

 .exerise .introduction-four{
  font-size: 11px;
 }
 }

 @media(max-width:660px){
  .exerise .introduction{
    font-size: 9px;
  }

 .exerise h1{
  font-size: 11px;
 }

 .exerise .introduction-two{
  font-size: 9px;
  height: 1200px;
 }

 .exerise .introduction-three{
  font-size: 9px;
 }

 .exerise .introduction-four{
  font-size: 9px;
 }

  .chose-title{
    height: 60vh;
    position: sticky;
    top: 130px;
  }

  .navbar{
    font-size: 12px;
  }

 }

 @media(max-width:430px){
   

    .chose-title{
      height: 70vh;
      position: sticky;
      top: 115px;
    }

    .navbar{
      font-size: 8px;}

      .exerise .introduction{
        font-size: 10px;
        height: 400px;
        
      }
    
       .exerise .introduction-two{
        height: 1900px;
        font-size: 10px;
       
      }
    
       .exerise .introduction-three{
        font-size: 10px;
        height: 600px;
      }
    
      .introduction-four{
        height: 300px;
        font-size: 10px;
       
      }
 }